
#f12-admin-menu {
    position: fixed;
    font-size: 110%;
    background-color: #eee;
    border: 2px #5a5a5a solid;
    border-left: 0;
    z-index: 9999;
    box-shadow: 0px 3px 7px #0000004a;
    margin-top: -100px;
    display: flex;
    width: 100%;
    bottom: 0;
    top: auto;
    left: 0;
    transition: left 0.3s ease;
    justify-content: space-around;
}

#f12-admin-menu:hover {
    left: 0;
}

@media (min-width: 769px) {
    #f12-admin-menu {
        top: 50%;
        left: -30px;
        flex-direction: column;
        bottom: auto;
        width: auto;
    }
}

#f12-admin-menu a {
    display: block;
    padding: 3px;
    text-align: left;
    color: #5a5a5a;
    position: relative;
    cursor: pointer;
    margin: 5px 0;
    transition: color 0.3s ease;
}

#f12-admin-menu a svg {
    height: 1.4em;
    width: 29px;
    vertical-align: -0.425em;
}

#f12-admin-menu a span {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 4px;
    left: 42px;
    border-left: 0;
    padding: 3px 9px;
    transition: all 0.3s ease;
    background: #000008b3;
    color: white;
    border-radius: 2px;
    white-space: nowrap;
    box-shadow: 0 1px 5px #00000087;
    margin-left: 15px;
}

#f12-admin-menu a:hover {
    color: black;
}

#f12-admin-menu a:hover span,
#f12-admin-menu a:focus span {
    visibility: visible;
    opacity: 1;
    margin-: 0;
}
